body {
    background: black;
    margin: 0;
}

body:has(#sources[style*="display: block"]) {
    background: darkviolet;
    margin: 1rem;
}

video {
    height: 100%;
    width: 100%;
    margin: 0;
}

img {
    margin: 1rem;
}

img:hover {
    cursor: pointer;
    transform: scale(1.3);
}
