html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#active, #present {
    display: flex;
    flex-direction: column;

}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
}
