@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#screens:has(button) #noscreen {
    display: none;
}

video {
    flex-grow: 1;
    overflow: auto;
}

@layer components {
    .custom-selected {
        @apply relative bottom-1;
    }
}
